body{
    background-color: azure;
    font-family: 'Times New Roman';
    margin: 0;
}

header{
    align-items: center;
    height: 130px;
    background: #000;
    color: azure;
}

header h1{
    margin: 0;
    padding: 12px;
    text-align: center;
}

header nav{
    text-align: center;
    display: flex;
    justify-content: center;
}

nav li{
    list-style: none;
    padding: 12px;
}